<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" (click)="openRunDialog()" mdbWavesEffect>Add Run</button>

<div class="row">
  <app-run-card *ngFor="let run of runs$ | async" [run]="run" (open)="openRun(run)"></app-run-card>
</div>

<modal-component title="Add Run" (onSubmit)="addRun()">
  <form [formGroup]="runForm">
    <div class="form-row">
      <div class="col">
        <label class="control-label">Duration</label>
        <div class="md-form">
          <!-- <input type="number" id="form3" class="form-control" mdbInput formControlName="duration"> -->
          <timespan-input id="form3" formControlName="duration"></timespan-input>  
        </div>
      </div>
      <div class="col">
        <label class="control-label">Distance</label>
        <div class="md-form">
          <input type="number" placeholder="Enter a distance" id="form2" class="form-control" mdbInput formControlName="distance">
          <!-- <label for="form2">Distance</label> -->
        </div>
      </div>      
    </div>
    <div class="form-row">
      <div class="col">
        <label class="control-label">Date</label>
        <mdb-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Enter a date'" formControlName="date" required></mdb-date-picker>
      </div>      
    </div>
  </form>
</modal-component>

<!-- 
<ng-template #runEditor>
  <form [formGroup]="runForm">
    <div class="form-row">
      <div class="col">
        <div class="md-form">
          <input type="number" id="form3" class="form-control" mdbInput formControlName="duration">
          <label for="form3">Duration</label>
        </div>
      </div>
      <div class="col">
        <div class="md-form">
          <input type="number" id="form2" class="form-control" mdbInput formControlName="distance">
          <label for="form2">Distance</label>
        </div>
      </div>      
    </div>
    <div class="form-row">
      <div class="col">
        <mdb-date-picker name="mydate" [placeholder]="'Selected date'" formControlName="date" required></mdb-date-picker>
      </div>      
    </div>
  </form>
</ng-template> -->

<!-- <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">Add Run</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]="runForm">
          <div class="row">
            <div class="md-form col-md-6 mb-5">
              <input type="number" id="form3" class="form-control" mdbInputDirective formControlName="duration">
              <label data-error="wrong" data-success="right" for="form3">Duration</label>
            </div>
    
            <div class="md-form col-md-6">
              <input type="number" id="form2" class="form-control" mdbInputDirective formControlName="distance">
              <label data-error="wrong" data-success="right" for="form2">Distance</label>
            </div>
          </div>
          <div class="row">
              <mdb-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Selected date'" formControlName="date" required></mdb-date-picker>
          </div>
        </form>
      </div>

      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="warning" outline="true" class="waves-effect" mdbWavesEffec (click)="addRun()"t>
          <i class="fa fa-save ml-1"></i>
          <span>Save</span>
        </a>
      </div>
    </div>
  </div>
</div> -->