.app-container {
	position: absolute;
	top: 46px;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
	min-height: 0;
	width: 100%;
    max-width: 100%;
	padding: 15px;
	padding-left: 256px;
}

@media (max-width: 1440px) {
	.app-container {
		padding-left: 15px;
	}
}

@media (min-width: 600px) {
	.app-container {
		top: 62px;
	}
}

.logo-img {
	height: 200px;
	width: 200px;
	margin-top: -65px;
	margin-bottom: -65px;
}