/* You can add global styles to this file, and also import other style files */
@import"./app/variables.scss";

.hide-sidenav-overflow > ul{
    overflow: hidden;
}

.side-nav {
    background-color: $sitemain;

    .collapsible {
        a {
            color: $navlinktext
        }    
    }

    a {
        color: $navlinktext;
        height: auto;
    }
}

.navbar {
    background-color: $sitemain;
}

.app-container {
    background-color: $sitebackground;
}
